# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/client/bemenu
/client/bemenu-run

# Vim swap files
.*.swp
.swp

# Archives
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.zip
*.rar

# Build directories
build/
bin/

# Backup files
*~
*.backup
*.old

# CMake
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
DartConfiguration.tcl
Doxyfile

# Generated source files
/lib/version.h
/lib/renderers/wayland/wayland-*-client-protocol.h
/lib/renderers/wayland/wayland-*-protocol.c
