# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Vim swap files
.*.swp
.swp

# Archives
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.zip
*.rar

# Build directories
build/
bin/
